
﻿@model ResearchGate.Models.tbl_paper

@{ ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";}

<h2>Paper Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.p_name)*@ Paper Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p_name)
        </dd>

        <!--<dt>-->
            @*@Html.DisplayNameFor(model => model.p_file)*@ @*Paper Name*@
        <!--</dt>

        <dd>
            @Html.DisplayFor(model => model.p_file)
        </dd>-->

        <dt>
            @*@Html.DisplayNameFor(model => model.tbl_user.u_name)*@ Author Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_user.u_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.p_id }) |
    @Html.ActionLink("Back to Your Profile", "Index")
</p>